header,
footer {
  background-color: #333;
  color: #e2e2e2;
  padding: 1rem;
}

.page-body {
  padding: 1rem;
}

nav > a {
  margin-right: 1rem;
  color: #e2e2e2;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s;
}

nav > a:hover {
  color: #fff;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  flex-basis: 400px;
  flex-grow: 1;
}

.card > img {
  width: 100%;
}
